*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerss{
    display: flex;
    justify-content: center;
}

body{
    background-color: rgba(242, 143, 14, 0.445);
}
.siz{
    height: 400px;
}
